*{
    margin: 0;
    padding: 0;
}
.wrap{
    position: relative;
    width: 100%;
    height: 100%;
    text-decoration: none;
    list-style-type: none;
}
.box01{
    width: 100%;
    height: 1080px;
    background-image: url(img/bg01.png);
    display: flex;
    justify-content: center; 
    align-items: center;
    background-position: center;
    position: relative;
    background-size: cover;
}
.logo{
    margin-left: -1000px;
    margin-top: -900px;
}
.tit01{
    width: 1100px;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-position: center;
    border: 0px solid red;
    position: absolute;
    margin-top: -900px;
}

.box02{
    width: 100%;
    height: 815px;
    background-image: url(img/bg02.png);
    display: flex;
    justify-content: center; 
    align-items: center;
    background-position: center;
    position: relative;
    background-size: cover;
}
.im01{
    width: 1100px;
    text-align: left;
    position: absolute;
    margin-left: 120px;
    margin-top: 6px;

}
.tit02{
    margin-top: -175px;
    position: absolute;
    margin-left: -100px;
}
.tit03{
    margin-top: -357px;
    position: absolute;
    margin-left: 280px;
}
.tit04{
    margin-top: -20px;
    position: absolute;
    margin-left: 320px;
}

.tit05{
    margin-top: 335px;
    position: absolute;
    margin-left: 545px;
}

.box03{
    width: 100%;
    height: 728px;
    background-image: url(img/bg03.png);
    display: flex;
    justify-content: center; 
    align-items: center;
    background-position: center;
    position: relative;
    background-size: cover;
}
.t001{
    width: 1100px;
    text-align:left;
    position: absolute;
    margin-left: 80px;
    margin-top: -300px;
    
}
.box003{
    width: 1100px;
    text-align: left;
}
.t01{
    position: absolute;
    padding-left: 59px;

}
.t02{
    position: absolute;
    padding-top: 55px;
    padding-left: 59px;
}
.t03{
    position: absolute;
    padding-top: 105px;
    padding-left: 59px;
}
.t04{
    position: absolute;
    padding-top: 155px;
    padding-left: 59px;
}
.t05{
    position: absolute;
    padding-top: 205px;
    padding-left: 59px; 
}

.box04{
    width: 100%;
    height: 1050px;
    background-color: aliceblue;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-position: center;
    position: relative;
    
}
.po01{
    width: 1100px;
    text-align:left;
    position: absolute;
    margin-left: 0px;
    margin-top: -600px;
}

.po001{
    width: 1100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
}
.po02{
    margin-left: -50px;
    padding-right: 7px;
}
.po08{
    margin-left: -865px;
    margin-top: 550px;
    position: absolute;
}

.po03{
    margin-left: -280px;
    margin-top: 550px;
    position: absolute;
}  
.po04{
    margin-left: 300px;
    margin-top: 550px;
    
    position: absolute;
}  
.po05{
    margin-left: 885px;
    margin-top: 550px;
    position: absolute;
}  

footer{
    width: 100%;
    height: 250px;
    background-image: url(img/ftb01.png);
    position: relative;
    background-size: cover;
}
.footer_img{
    margin: 0 auto;
    width: 100%;
    height: 138px;
    display: flex; /**이게 무엇인가? -공부하기**/
    align-items: center;
    justify-content: center;
    border: 0px solid red;
    position: absolute;
    margin-top: 63px;

}

